
header {
    background-color: var(--primaria);
    height: 10rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
}

.logo-header {
  display: flex;
  justify-content: flex-start;
}

.logo-header img {
  height: 10rem;
  width: auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav ul a{
    text-decoration: none;
    color: var(--branco);
    transition: .3s;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
}

nav ul a:hover {
    text-decoration: underline;
    text-underline-offset: .4rem;
}