
header {
    background-color: var(--primaria);
    height: 10rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
}

.logo-header {
  display: flex;
  justify-content: flex-start;
}

.logo-header img {
  height: 10rem;
  width: auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav ul a{
    text-decoration: none;
    color: var(--branco);
    transition: .3s;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
}

nav ul a:hover {
    text-decoration: underline;
    text-underline-offset: .4rem;
    color: #00BFA6;
}

p strong {
    display: block;
}

.btn {
    background-color: var(--primaria);
    padding: .8rem 2rem;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .3s ease-in-out;
    width: fit-content;
    text-decoration: none;

}

.btn:hover {
    transform: scale(1.04);
    color: #00BFA6;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--footer);
}

.footer-logo img {
  height: 10rem;
  width: auto;
}

footer div {
    display: flex;
    flex-direction: column;
}

address {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}

.container-icon-contato {
    display: flex;
    align-items: start;
    gap: .6rem;
}