/* ====== HERO ====== */

#inicio {
    background-color: var(--secundaria);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.6rem 6.25rem 4.6rem 4.5rem;
    margin-bottom: 10rem;
}

.hero-imagem {
    display: flex;
    justify-content: flex-start;
}

.hero-imagem img {
    height: 18.5rem;
    width: auto;
}

.hero-texto {
    height: 18.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 40%;
}


/* ====== QUEM SOMOS ====== */

#quem-somos {
    background-color: var(--primaria);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 6.25rem 9rem 4.5rem;
    align-items: center;
}

.quem-somos-imagem {
    display: flex;
    justify-content: flex-start;
}

.quem-somos-imagem img {
    height: 27.5rem;
    width: auto;
}

.quem-somos-texto {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 50%;
}


/* ====== SERVICOS ====== */

#servicos {
    background-color: var(--primaria);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5rem 3.5rem;
    align-items: center;
}

.servicos-imagem {
    display: flex;
    justify-content: flex-start;
}

.servicos-imagem img {
    height: 25rem;
    width: auto;
}

.servicos-grid {
    height: 30rem;
    max-width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.servicos-card {
    border-radius: 2rem;
    overflow: hidden;
}

.container-titulo-card {
    text-align: center;
    background-color: var(--terciaria);
    padding: 1rem;
}

.container-card-text {
    padding: 1rem;
    background-color: var(--secundaria);
    height: 12rem;
}


/* ====== CONTATO ====== */

#contato {
    display: flex;
    flex-direction: column;
    padding: 4rem 0rem;
}

.header-contato {
    padding: 4rem;
    background-color: var(--secundaria);
    align-items: center;
}

.contato-wrapper {
    display: flex;
    padding: 4rem;
    justify-content: space-between;
    align-items: center;
}

.contato-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    border-radius: 2rem;
    background-color: var(--secundaria);
    padding: 3.5rem;
    width: 38%;
    height: 20rem;
}

.contato-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    gap: 1.5rem;
    height: 20rem;
}

.contato-form input, textarea {
    all: unset; 
    width: 100%;
    background-color: var(--secundaria);
    padding: .7rem;
    border-radius: 1rem;
    transition: .3s ease-in-out;
    color: var(--branco);
}

.contato-form input:focus, textarea:focus {
    border: .1rem solid #00BFA6;
    outline: none;
}

.contato-form button {
    all: unset; 
    width: 90%;
    border-radius: 1rem;
    padding: .7rem;
    background-color: var(--button);
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.contato-form button:hover {
    transform: scale(1.02);
}


/* ====== VIDEO ======= */

#video-institucional {
    padding: 5rem;
}

.video-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.container-text-video {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}